body {
    font-size: 23px;
    background-color: black;
    color: lime;
    font-family: Courier, monospace;
}

header, footer {
    background-color: orange;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    font-size: large;
}

img {
    max-width: 100%;
    height: auto;
}